@font-face {
	font-family: 'iconfont';
    src: url('iconfont/iconfont.eot'); 
    src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'), 
    url('iconfont/iconfont.woff') format('woff'), 
    url('iconfont/iconfont.ttf') format('truetype'), 
    url('iconfont/iconfont.svg#iconfont') format('svg');
}
@font-face {
	font-family: 'iconfont2';
    src: url('iconfont2/iconfont.eot'); 
    src: url('iconfont2/iconfont.eot?#iefix') format('embedded-opentype'), 
    url('iconfont2/iconfont.woff') format('woff'), 
    url('iconfont2/iconfont.ttf') format('truetype'), 
    url('iconfont2/iconfont.svg#iconfont') format('svg'); 
}
b {
	font-weight: normal;
	font-family: 'iconfont2';
	font-style: normal;
	font-size: 18px;
	color:#fff;
	 -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    margin-left: .1em;
}
.title img {
	display: block;
	width: 120px;
	border-radius: 50%;
}
.skills dd {
	margin-left: 5px;
}
.skills dd i{
	font-family: 'iconfont';
	font-style: normal;
	font-size: 18px;
	color:#2989F0;
	font-weight: 800;
}
.main a {
	transition:all .2s linear;
}
.main a:hover {
	background: #2989F0;
	color: #fff;
}
.others p{
	line-height: 2;
}
.skill-bar-wrap {
	width: 130px;
	margin-left: 20px;
}